:root {
    --transition: all 300ms ease;
    --container-width-lg: 74%;
    --container-width-md: 88%;
    --form-width: 40%;
    --color-bg: white;

    --card-border-radius-1: 0.3rem;
    --card-border-radius-2: 0.5rem;
    --card-border-radius-3: 0.8rem;
    --card-border-radius-4: 2rem;
    --card-border-radius-5: 5rem;
}

* {
    margin: 0;
    padding: 0%;
    outline: 0;
    border: 0;
    appearance: 0;
    list-style: none;
    text-decoration: none !important;
    box-sizing: border-box;
}


body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    overflow-x: hidden;
    font-size: 0.9rem;
}

.container {
    max-width: 1800px;
}

section {
    margin-top: 3rem;
    width: 100vw;
}

h1,
h2,
h3,
h4 {
    line-height: 1.3;

}

h1 {
    font-size: 3rem;
    margin: 1rem 0;
}

h2 {
    font-size: 1.7rem;
    margin: 1rem 0;
}

h3 {
    font-size: 1.1rem;
    margin: 0.8rem 0 0.5rem;
}

h4 {
    font-size: 1rem;
}



a {
    text-decoration: none;
    transition: var(--transition);
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

nav {
    background-color: #0d85a8;
    width: 100vw;
    height: 6rem;
    position: fixed;
    top: 0;
    z-index: 10;
}

nav a {
    color: white;
    transition: var(--transition);
    font-size: 1.35rem;
}

nav button {
    display: none;
}

.nav__container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.avatar {
    margin-bottom: 1rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    overflow: hidden;
    border: 0.3rem solid var(--color-bg);
}

.nav__logo {
    margin-top: 1rem;
    margin-left: 3rem;
    font-weight: 300px;
    font-size: 1.5rem;
}

.nav__items {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    gap: 2rem;
}

.nav__profile {
    position: relative;
    cursor: pointer;
}

.nav__profile ul {
    position: absolute;
    top: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    transition: var(--transition);
}

.nav__profile:hover>ul {
    visibility: visible;
    opacity: 1;
}

.nav__profile ul li a {
    padding: 1rem;
    background-color: #073E63;
    display: block;
    width: 100%;
}

.nav__profile ul li:last-child a {
    background-color: red;
    color: white;
}

/* Categorias */

.category__buttons {
    padding: 4rem 0;
}

.category__buttons-container {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

/* Featured */

.category__button {
    background-color: #0d85a8;
    color: white;
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: var(--card-border-radius-2);
    font-weight: 600;
    font-size: 0.8rem;
    text-align: center;
}

.category__button:hover {
    color: white;
}

.post__thumbnail {
    border-radius: var(--card-border-radius-5) 0;
    border: 1rem solid #0d85a8;
    overflow: hidden;
    margin-bottom: 1.6rem;
}

.post:hover .post__thumbnail img {
    filter: saturate(0);
    transition: filter 500ms ease;
}

.post__author {
    display: flex;
    gap: 1rem;
    margin-top: 1.2rem;
}

.post__author-avatar {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: var(--card-border-radius-2);
    overflow: hidden;
}

.featured {
    margin-top: 8rem;
}

.featured__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}

.featured .post__thumbnail {
    height: fit-content;
}

/* Posts */

.posts__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    margin-bottom: 5rem;
}

/* Boton */

.btn1 {
    display: inline-block;
    width: fit-content;
    padding: 0.6rem 1.2rem;
    background-color: #0d85a8;
    border-radius: var(--card-border-radius-2);
    cursor: pointer;
    transition: var(--transition);
    color: white;
}

.btn1.sm {
    padding: 0.3rem 0.7rem;
    font-size: 0.8rem;
}

.btn1.danger {
    background-color: #cc0000;
}

.btn1:hover {
    background-color: white;
    color: black;
}

/*Pagina Post*/
.singlepost {
    margin: 6rem 0 2rem;
    color: white;

}

.singlepost__container {

    width: var(--form-width);
    background-color: #073E63;
    padding: 1rem 2rem 3rem;
}

.singlepost__thumbnail {
    margin: 1.5rem 0 1rem;
}

.singlepost__container p {
    margin-top: 1rem;
    line-height: 1.7;
}

/* Pagina categorias */

.category__title {
    height: 15rem;
    margin-top: 4.5rem;
    background-color: #0d85a8;
    display: grid;
    place-items: center;
    color: white;
}


/* General Forms*/
.form__section {
    display: grid;
    place-items: center;
    height: 100vh;
    margin-top: 5rem;
    
}

.form__section-container {
    padding-top: 50px;
    padding-bottom: 100px;
}

.alert__message {
    padding: 0.8rem 1.4rem;
    margin-bottom: 1rem;
    border-radius: var(--card-border-radius-2);
}

.alert__message.error {
    background-color: #b30000;
    color: white;
}

.alert__message.success {
    background-color: #008000;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form__control {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.form__control.inline {
    flex-direction: row;
    align-items: center;
}

input,
textarea,
select {
    padding: 0.8rem 1.4rem;
    border-radius: var(--card-border-radius-2);
    resize: none;
}

.form__section small {
    margin-top: 1rem;
    display: block;
    margin-bottom: 3rem;
}

/* Dashboard*/
.dashboard {
    margin-top: 6rem;
    color: white;
}

.sidebar__toggle {
    display: none;
}


.dashboard a {
    color: white;
    font-size: 1.3rem;
}

.dashboard__container {
    display: grid;
    grid-template-columns: 24rem auto;
    gap: 1rem;
    background-color: #073E63;
    padding: 2rem;
    margin-bottom: 5rem;
}

.dashboard aside a {
    background-color: #0d85a8;
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1.6rem;
}

.dashboard aside ul li:not(:last-child) a {
    border-bottom: 2px solid #073E63;
}

.dashboard aside a:hover {
    background-color: #073E63;
    color: white;
}

.dashboard aside a.active {
    background-color: #042034;
}

.dashboard main {
    margin-left: 1.5rem;
}

.dashboard main h2 {
    margin: 0 0 2rem 0;
    line-height: 1;
}

.dashboard main table {
    width: 100%;
    text-align: left;
}

.dashboard main table th {
    background-color: #063351;
    padding: 0.8rem;

}

.dashboard main table td {
    padding: 0.8rem;
    border-bottom: 1px solid white;
}

.dashboard main table tr:hover td {
    background-color: #063351;
    cursor: default;
    transition: var(--transition);
}

/* Media Queries Tablet*/

@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
    }

    h2 {
        font-size: 1.6rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    h5 {
        font-size: 0.8rem;
    }

    nav button {
        display: inline-block;
        font-size: 1.5rem;
        background: transparent;
        color: white;
        cursor: pointer;
    }

    nav button#close__nav-btn {
        display: none;
    }

    .nav__container {
        position: relative;
    }

    .nav__items {
        position: absolute;
        flex-direction: column;
        top: 100%;
        right: 0;
        width: 12rem;
        align-items: flex-start;
        justify-content: center;
        gap: 0;
        display: none;
    }

    .nav__items li {
        width: 100%;
        height: 4.5rem;
        display: flex;
        align-items: center;
        border-top: 1px solid;
        background-color: #073E63;
        animation: animateDropdown 400ms 0s ease forwards;
        opacity: 0;
        transform-origin: top;
    }

    .nav__items li:nth-child(2) {
        animation-delay: 200ms;
    }

    .nav__items li:nth-child(3) {
        animation-delay: 400ms;
    }

    .nav__items li:nth-child(4) {
        animation-delay: 600ms;
    }

    @keyframes animateDropdown {
        0% {
            transform: rotateX(90deg);
        }

        100% {
            transform: rotateX(0deg);
            opacity: 1;
        }
    }

    .nav__items li a {
        border-radius: 0;
        width: 100%;
        height: 100%;
        padding: 0 2rem;
        display: flex;
        align-items: center;
    }

    .nav__profile {
        background-color: #073E63;
    }

    .nav__profile ul {
        top: 100%;
        width: 100%;
    }

    .nav__profile .avatar {
        margin-left: 2rem;
        border: 0;
    }

    .featured__container {
        gap: 3rem;
    }

    .posts__container {
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }

    .footer__container {
        gap: 3rem;
    }

    .form__section-container {
        padding: 3rem;
    }

    .dashboard__container {
        grid-template-columns: 4rem auto;
        padding: 0;
        background: transparent;
    }


    .dashboard aside h5 {
        display: none;
    }

    .dashboard main table thead {
        display: none;
    }

    .dashboard main table tr {
        display: flex;
        flex-direction: column;
    }

}



/* Media Queries Movil*/

@media screen and (max-width: 600px) {
    section {
        margin-top: 2rem;
    }

    h1 {
        font-size: 2rem;
    }

    .featured {
        margin-top: 6rem;
        margin-bottom: 30px;
    }

    .featured__container {
        grid-template-columns: 1fr;
        gap: 0;
        margin-bottom: 30px;
    }

    .posts__container {
        grid-template-columns: 1fr;
    }

    .category__buttons-container {
        grid-template-columns: 1fr 1fr;
    }

    .form__section-container {
        padding: 0;
    }

    .dashboard {
        margin-top: 5rem;
    }

    .dashboard__container {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .dashboard main {
        margin: 0;
    }

    .dashboard main h2 {
        margin-top: 1rem;
    }

    .dashboard aside {
        position: fixed;
        box-shadow: 2rem 0 4rem rgba(0, 0, 0, 0.4);
        left: -100%;
        height: 100vh;
        transition: var(--transition);
        background: var(--color-primary);
        z-index: 2;
    }

    .dashboard .sidebar__toggle {
        display: inline-block;
        background: var(--color-primary-variant);
        color: var(--color-white);
        position: fixed;
        right: 0;
        bottom: 4rem;
        z-index: 1;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50% 0 0 50%;
        font-size: 1.3rem;
        cursor: pointer;
        box-shadow: -1rem 0 2rem rgba(0, 0, 0, 0.4);
    }

    .dashboard aside a h5 {
        display: inline-block;
    }

    #hide__sidebar-btn {
        display: none;
    }


    .nav__logo{
        font-size: 1rem;
    }
}